$primary-background-color: #FFF;
$secondary-background-color: #2f2d33;
$primary-text-color: #5e6163;
$secondary-text-color: lighten($primary-text-color, 30%);
$link-color: #296094;
$accent-color: #FFF;
$subtle-color: #e5e5e5;
