@import "colors";
.list-date {
    font-size: 100%;
    font-weight: bold;
    color: $secondary-text-color;
    float: right;
    a {
      color: $secondary-text-color;
    }
  }


  p {
      padding: .5em 0;
      font-size: 1.15em;
      line-height: 1.25em;

    }
